---
layout: default
---

<article class="book-review">
    <h1>{{ page.title }}</h1>
    <p class="book-meta">
        {{ page.author }} &nbsp;&middot;&nbsp;
        <span class="rating">
            {%- for i in (1..5) -%} {%- if i <= page.rating -%}<span
                class="star-filled"
                >&#9733;</span
            >{%- else -%}<span class="star-empty">&#9733;</span>{%- endif -%}
            {%- endfor -%}
        </span>
    </p>

    <div class="book-body">{{ content }}</div>

    <a href="{{ '/' | relative_url }}" class="back-link">&larr; Back</a>
</article>
